<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Wallies.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Wallies.My.MySettings>
            <setting name="rootPathWallies" serializeAs="String">
                <value>D:\Images\Fonds d'écran\</value>
            </setting>
            <setting name="imageMergedPath" serializeAs="String">
                <value>C:\Users\doudou\AppData\Local\_Ammesiah\wallies.jpg</value>
            </setting>
        </Wallies.My.MySettings>
    </applicationSettings>
</configuration>
